* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #080B10;
}

.carousel-container {
    max-width: 1400px;
    width: 100vw;
    height: 500px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    height: 500px;
}

.carousel-slide .image-container {
    display: block;
    height: 100%;
    min-width: 100%;
}

.image-container img {
    display: inline-block;
    height: 500px;
    width: 100vw;
    object-fit: cover;
}

.carousel-container .btn {
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    background-image: url("../assets/left_arrowhead.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(0.8);
    cursor: pointer;
    border: 5px solid rgba(255, 255, 255, 0.05);
    border-radius: 5px;
}

.carousel-container .btn:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.carousel-container .prev {
    left: 1rem;
    transform: rotate(180deg) translateY(50%) ;
}

.carousel-container .next {
    right: 1rem;
}

.carousel-meter {
    width: fit-content;
    margin: 20px auto;
}

.carousel-meter .circle {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    margin: 0 15px;
}

.carousel-meter .circle.active {
    background-color: rgb(255, 255, 255);
}