body{
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg,#1b81c6,#000);
    height: 100vh;
    overflow: hidden;
}
.container{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: #fff;
    border-radius: 10px;
}
.container h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.container form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .content{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.content input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.content label{
    position: absolute;
    top: 50%;
    left: 5px;
    color:#adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.content span::before{
    content:'';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: 0.5s;
}
.content input:focus ~ label,
.content input:valid ~ label{
    top: -5px;
    color: #2691d9;
}
.content input:focus ~ span::before,
.content input:valid ~ span::before{
    width: 100%;
}
.pswd{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor:pointer;
}
.pswd:hover{
    text-decoration: underline;
}
input[type="submit"]{
    width:50%;
    position: relative;
    left:77px;
    height: 50px;
    border: 1px solid;
    background: rgba(0, 0, 0, 0.897);
    border-radius: 25px;
    font-size: 18px;
    color:#e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
}
input[type="submit"]:hover{
    border-color: #2691d9;
    background: #2691d9;
    color: #fff;
    transform: scale(1.1);
    transition: 0.5s;
}
.link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.link a{
    color: #2691d9;
    text-decoration: none;
}
.link a:hover{
    text-decoration: underline;
}