*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: brown;
    height: 500px;
    border: 3px solid black;
    display: grid;
    grid-template-columns: 150px 1fr 1fr 150px;           /*200px 200px 210px */
    grid-template-rows: 30px 1fr 30px;              /*90px 90px 90px*/
    gap: 3px;
}

.box{
    background-color: aqua;
    border: 3px solid black;
    /* width: 80px; */
    /* height: 80px; */
}

#box1,#box4{
    grid-column-start: 1;
    grid-column-end: 5;
}



#box3{
    grid-column-start: 2;
    grid-column-end: 4;
}