/* admin/home.css */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'ubuntu', sans-serif;
    /* background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    
}


.navbar-nav {
    margin-right: 6rem;
}

.navbar {
    min-height: 8vh;
    background-color: black;
}
.nav-link{
    font-size: 1.1rem;
}
.container-fluid {
    background-color: white;
    /* overflow-x: auto; */
    /* margin-left: 200px; */
}

.sidebar {
    min-height: 100vh;
    padding-top: 5rem;
    padding-left: 3rem;
    font-size: 1.3rem;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}

.sidebar a:visited {
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: none;
}

.content {
    margin-top: 1rem;
    position: relative;
    left: 16%;
}


/* admin/books.css */

.dropbar {
    margin-right: 7rem;
}

.search-bar {
    margin-top: 2rem;
}


/* admin/profile.css */

.profile-content {
    /* background-color: #343A40; */
    background-color: #CCE5FF;
    height: 35rem;
    margin-left: 2rem;
    float: left;
    /* opacity: 0.5; */
    color: black;
    padding-top: 2rem;
    text-align: center;
}

.profile-content hr {
    background-color: grey;
}

.profile-content a:visited {
    text-decoration: none;
}

.profile-content a:hover {
    text-decoration: none;
}

.profile-pic {
    width: 25rem;
    padding-left: 2rem;
}


/* admin/books/add.css */

.books-content {
    /* background-color: #343A40; */
    background-color: #CCE5FF;
    height: 46rem;
    margin-left: 2rem;
    float: left;
    /* opacity: 0.5; */
    color: black;
    padding-top: 2rem;
    text-align: center;
}

/* admin/changepass.css */

.change-password {
    /* background-color: #343A40; */
    background-color: #CCE5FF;
    height: 25rem;
    margin-left: 2rem;
    margin-top: 5rem;
    float: left;
    /* opacity: 0.5; */
    color: black;
    padding-top: 2rem;
    text-align: center;
}

/* admin/customers/add.css */

.modify-customer {
    /* background-color: #343A40; */
    background-color: #CCE5FF;
    height: 42rem;
    margin-left: 2rem;
    float: left;
    /* opacity: 0.5; */
    color: black;
    padding-top: 2rem;
    text-align: center;
}

.gender {
    width: 20rem;
    margin: auto;
}

.iiit-logo{
    height: 70px;
    width: 70px;
    margin: 0px 30px;
}