/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    width: 100vw;
    
    font-family: 'Roboto', sans-serif;

}
.bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.858),rgba(0, 0, 0, 0.402)),url('../images/banner.jpg');
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* position: relative; */
}

.login-box {
    background-color: rgba(151, 174, 189, 0.7);
    height: 25rem;
    width: 30rem;
    margin: 4.5rem auto;
    text-align: center;
    border-radius: 1rem;
    /* padding: 1rem; */
}

.header {
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 500;
    /* margin-top: 40px; */
    /* text-shadow: 2px 2px 5px white; */
}

.login-form {
    margin-top: 4.5rem;
    text-align: left;
    border-left: 2px solid black;

}

.sign-up {
    margin-top: 8rem;
    /* border-right: 2px solid black; */
}
.row{
    padding: 1rem;
}