* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/sset.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
}

.form-box {
  width: 380px;
  height: 500px;
  position: relative;
  margin: 6% auto;
  background: rgb(255, 255, 255);
  opacity: 0.5;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
}
.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 20px 9px rgb(223, 137, 16);
}
.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #f9d423, #f36e21);
  border-radius: 30px;
  transition: 0.5s;
}

.social-icons {
  margin: 30px auto;
  text-align: center;
  color: linear-gradient(to right, #f9d423, #f36e21);
}

.social-icons img {
  width: 30px;
  margin: 0 12px;
  box-shadow: 0 0 20px 0 #f36e21;
  cursor: pointer;
  border-radius: 50%;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  margin: 0 auto;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #f9d423, #f36e21);
  border-radius: 30px;
  border: 0;
  outline: none;
}
.check-box {
  margin: 30px 10px 33px 0;
}
.span {
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}
#login {
  left: 50px;
}
#register {
  left: 450px;
}
