<script src="https://kit.fontawesome.com/8cf39f4c0f.js" crossorigin="anonymous"></script>

<div class="col-md-2 sidebar bg-dark">
    <p class="">
        <a href="/customer/home">
            <i class="fas fa-home"></i>
            Home
        </a>
    </p>
    <hr>
    <p class="text-primary">
        <a href="/customer/profile">
            <i class="fas fa-user"></i>
            Profile
        </a>
    </p>
    <hr>
    <p class="">
        <a href="/customer/books">
            <i class="fas fa-book"></i>
            Books
        </a>
    </p>
    <hr>
    <p class="">
        <a href="/customer/payment">
            <!-- <i class="fas fa-cash"></i> -->
            <i class="fa-solid fa-indian-rupee-sign"></i>
            <!-- <link href="/YOUR_PATH/favicon.ico" rel="icon" type="image/x-icon" /> -->
            Pay Fine
        </a>
    </p>

    <hr>
    <div style="color:rgb(66, 66, 247); font-size: 15px;">
        The central library is open from 9:00 AM to 5:00 PM.
    </div>
    <div style="color:rgb(66, 66, 247)">
        Contact: +91-92856xxxxx
    </div>
    <div>
       <span style="color: white">Reach us at:</span>  <br>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
    </div>
   
</div>
