* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* .header {
    height: 100vh;
} */

.nav {
    height: 9vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
}

.nav .logo {
    font-size: 2rem;
    text-decoration: none;
    /* color: #BA68C8; */
    color: black;
    font-weight: bold;
}

.nav ol {
    list-style: none;
}

.nav ol li {
    display: inline-block;
    margin-left: 2vw;
}

.nav ol li .nav-link {
    font-size: 1.8rem;
    text-decoration: none;
}

.hero__top {
    height: 75vh;
    /* background: gray; */
    padding: 0 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__top-box h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #BA68C8;
    margin-bottom: 1.9rem;
}

.hero__top-box p {
    font-size: 1.8rem;
    color: #1a011f;
    font-weight: bold;
    margin-bottom: 4rem;
}

.hero__top-box img {
    height: 400px;
}

.hero__btn {
    text-decoration: none;
    background-color: #BA68C8;
    color: white;
    padding: 1.5rem 3rem;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: bold;
}

/* ================================== */
/* header end  */
/* ================================== */

/* .main {
    padding: 0 7%;
} */

.main__whyus {
    height: 20vh;
    background-color: #f5ecec;
    margin: 0 7%;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.main__whyus-box {
    text-align: center;
}

.main__whyus-box figure img {
    height: 85px;
}

.main__whyus-box figure figcaption {
    font-size: 1.8rem;
    color: #1a011f;
    font-weight: bold;
    margin-left: 2rem;
}

/* ================================== */
/* Whyus end  */
/* ================================== */

.main__service {
    /* height: 80vh; */
    padding: 0 7%;
    text-align: center;
}

.main__service h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #BA68C8;
    padding: 1.9rem 0;
}

.main__service-box {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3rem;
}

.main__service-box-main {
    border-radius: .8rem;
    padding: 1rem 0;
    transition: all .2s;
    width: 350px;
}

.main__service-box-main:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.main__service-box-main h3 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #1a011f;
    margin-bottom: 1.9rem;
}

.main__service-box-main img {
    height: 200px;
}

/* ================================== */
/* Service end  */
/* ================================== */

.contact {
    /* height: 80vh; */
    padding: 0 7%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #f5ecec; */
}

.contact__box {
    width: 45%;
    /* background: red; */
}

.contact__box h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.contact__box img {
    height: 450px;
}

form {
    display: flex;
    flex-direction: column;
}

input [type="submit"] {
    display: block;
}

.form-inside{
    background-color: bisque;
    margin-bottom: 12px;
}

.form-data{
    font-size: 25px;
}

/* ================================== */
/* Contact end  */
/* ================================== */

.footer {
    background-color: #f1f1f1;
}

.footer__box-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
}

.footer__box h1 {
    font-size: 2.9rem;
    font-weight: bold;
    color: #1a011f;
    margin-bottom: 1.9rem;
}

.footer__box ol {
    list-style: none;
}

.footer__box ol li {
    font-size: 1.9rem;
}

.footer p {
    font-size: 1.9rem;
    color: #1a011f;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2rem;
}