<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <title>Oops! Page not found - website name</title>
    
</head>

<body>
    <header class="header">
        <div class="text-box">
            <h1 class="text-404">Page not found !</h1>
            <p class="text-404-p">
                <span>One of our staff is responsible for your inconvenience</span>
                <span>You can Choose who will be fired.</span>
            </p>
        </div>
        <div class="img-box">
            <div class="img-box-img">
                <img src="./assets/user2.png" alt="User img">
                <div class="btn-fir">
                    <a href="#">Fired him</a>
                </div>
            </div>
            <div class="img-box-img">
                <img src="./assets/user1.png" alt="User img">
                <div class="btn-fir">
                    <a href="#">Fired him</a>
                </div>
            </div>
            <div class="img-box-img">
                <img src="./assets/user3.png" alt="User img">
                <div class="btn-fir">
                    <a href="#">Fired him</a>
                </div>
            </div>
        </div>
        <div class="footer-text">
            <h1>If you are in a forgiving mood now, you can return by clicking the <a href="#">Don't Fired</a>
            </h1>
        </div>
    </header>
</body>

</html>
