.image1{
    margin-left: 18%;
    margin-top: 10%;
    width: 80px;
}
.init-text
{
    margin-left: 24%;
    margin-top: -3%;
    font-family:'Times New Roman', Times, serif;
    color:black;
    font-size: xx-small;
}
#detail-info
{
    margin-left: 280px;
}
