@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

nav {
  min-height: 10vh;
  padding: 2rem 8%;
  background: #131c27;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  z-index: 999999999999;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 3.5rem;
  font-family: Pattaya;
}

nav ol {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .paragraph{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
} */

nav ol li {
  margin-left: 1.5rem;
}

nav ol li a {
  text-decoration: none;
  font-size: 1.8rem;
  color: white;
  font-family: sans-serif;
  font-weight: 400;
}

.header__hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
}

.header__hero.header__hero-box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__hero.header__hero-box2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
  .header__hero {
    flex-direction: column;
  }
  .header__hero.header__hero-box1 {
    min-height: 45rem;
    width: 100%;
  }
  .recent__video-main {
    display: flex;
    flex-direction: column;
    /* background-color: black; */
  }

  .about__me {
    /* background: red; */
    /* width: 48%; */
    padding: 2rem 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .contact {
    background: rgba(0, 0, 0, 0.123);
    padding: 2rem 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  .about__me-imgBox {
    width: 100%;
  }
  .about__me-textBox {
    width: 100%;
    text-align: center;
  }

  .contact-map {
    width: 100%;
  }
  .contact-map iframe {
    width: 100%;
    height: 450px;
  }

  .upcoming__tour-main {
    /* background: black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8%;
    flex-direction: column;
    gap: 16px;
  }
}


.header__hero.header__hero-box1 h2 {
  font-size: 5rem;
  margin-bottom: 4rem;
}

.header__hero.header__hero-box1 h2 strong {
  border-bottom: 5px solid #11a152;
  font-family: pattaya;
}

.header__hero.header__hero-box1 p {
  background: rgba(211, 117, 234, 0.3);
  font-size: 2rem;
  margin: 0 4rem;
  border-radius: 3px;
  padding: 1rem;
  text-align: justify;
  width: 500px;
  height: 120px;
}

.header__hero.header__hero-box1 a {
  text-decoration: none;
  font-size: 2.5rem;
  color: #ffffff;
  background-color: royalblue;
  padding: 2rem 4rem;
  border-radius: 10px;
  margin-top: 4.5rem;
  
}

.header__hero.header__hero-box2 img {
  height: 400px;
}

.recent__video {
  text-align: center;
  background: rgba(0, 0, 0, 0.123);
  padding: 2rem 0;
}

/* .recent__video-textBox {
    background: crimson;
} */

.recent__video-textBox {
  /* text-align: center;
    background: rgba(0, 0, 0, 0.377); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.recent__video-textBox h2 {
  font-size: 6rem;
  font-family: Pattaya;
  color: #000000;
  margin-bottom: 2rem;
  letter-spacing: 5px;
}

.recent__video-textBox p {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 2rem;
  width: 60%;
}

.recent__video-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  /* background-color: black; */
}

.recent__video-box {
  display: flex;
  margin-top: 2%;
  align-items: center;
  height: fit-content;
  justify-content: space-between;
}

.recent__video-box video {
  width: 95%;
  height: 100%;
}

/* ! recent video end  */

.about__me {
  /* background: red; */
  /* width: 48%; */
  padding: 2rem 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
}

.about__me-imgBox p {
  text-align: center;
}

.about__me-imgBox img {
  width: 100%;
}

.about__me-imgBox p {
  text-align: center;
  font-size: 3.5rem;
  font-family: Pattaya;
  color: #000000;
  margin-top: 2rem;
}

.about__me-textBox h2 {
  font-size: 5.4rem;
  font-family: Pattaya;
  color: #000000;
  letter-spacing: 4px;
}

.about__me-textBox p {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
}

/* ! about me end */

.contact {
  background: rgba(0, 0, 0, 0.123);
  padding: 2rem 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
}

.contact-map iframe {
  border-radius: 8px;
}


.contact-form form {
  text-align: center;
}

.contact-form-box {
  /* background: green; */
  padding: 2rem;
  /* text-align: center; */
}

.contact-form-box label {
  font-size: 2rem;
  margin-right: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}

.contact-form-box input {
  padding: 1.4rem;
  /* border-radius: 8px; */
  width: 80%;
  font-size: 1.7rem;
}

.contact-form-box input:focus {
  outline: none;
}

.contact-form-box textarea {
  min-width: 75%;
  max-width: 75%;
  min-height: 13rem;
  max-height: 13rem;
  font-size: 1.7rem;
  padding: 1.4rem;

.contact-form{
  background-color: rgba(2, 119, 134, 0.356);
}
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;

}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }
/* ! contact form end  */
@media only screen and (min-width: 600px) {
  .header__hero.header__hero-box1 {
    min-height: 45rem;
    width: 48%;
  }
  .header__hero.header__hero-box2 {
    min-height: 45rem;
    width: 48%;
  }
  .about__me-textBox {
    width: 48%;
    text-align: center;
    /* background: black; */
  }
  .about__me-imgBox {
    /* background: gray; */
    width: 48%;
  }
  .contact-form {
    width: 45%;
    background: rgba(2, 119, 134, 0.356);
    border-radius: 8px;
  }
  form{
    margin: 50px auto;
  }
  
  .contact-map iframe {
    width: 100%;
    height: 450px;
  }
  .contact-map {
    width: 45%;
    background: gray;
  }
  .recent__video-box {
    width: 33%;
  }
}
.upcoming__tour {
  text-align: center;
}

.upcoming__tour h1 {
  font-size: 5rem;
  font-family: Pattaya;
  color: #000000;
  margin: 1.1rem 0;
  letter-spacing: 5px;
}

.upcoming__tour-main {
  /* background: black; */
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  padding: 2rem 8%;
}

.upcoming__tour-box {
  transition: box-shadow .3s;
  transition: transform 0.3s;
  height: 34rem;
  /* background: red; */
  /* width: 32%; */
  /* outline: 1px solid #000000; */
  /* margin: 1rem; */
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
   box-shadow: 0 0 15px rgba(51, 51, 51, 0.2); 
}
.upcoming__tour-box:hover{
  box-shadow: 0 0 15px rgba(33,33,33,.2); 
  transform: scale(1.1);
  cursor: pointer;
}
.upcoming__tour-box figure {
  text-align: center;
  /* border: 1px solid red; */
}

.upcoming__tour-box figure img {
  height: 28rem;
}

.upcoming__tour-box figure figcaption {
  font-size: 2rem;
  color: #000000;
}

.upcoming__tour-box h3 {
  font-size: 1.7rem;
}

/* ! upcoming tour end */

footer {
  padding: 2rem 8%;

  background: rgba(0, 0, 0, 0.123);
  

  /* background: rgba(0, 0, 0, 0.123); */
  background-color: #131c27;;

}

footer p {
  font-size: 1.9rem;

  color: #000000;
  margin-left: 33%;

  /* color: #000000; */
  color: #fff;
  text-align: center;

}

/* mobile nav view */

#menuToggle {
  display: none;
}
@media only screen and (max-width: 600px) {
  #menuToggle {
    display: block;
    position: relative;
    margin-left: 7%;
    margin-top: 7%;
    z-index: 1;
width: 20%;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
    * Just a quick hamburger
    */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  /*
    * But let's hide the middle one.
    */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
    * Ohyeah and the last one should go the other direction
    */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
    * Make this absolute positioned
    * at the top left of the screen
    */
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  /*
    * And let's slide it in from the left
    */
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}
