<script src="https://kit.fontawesome.com/8cf39f4c0f.js" crossorigin="anonymous"></script>
<div class="col-md-2 sidebar bg-dark">
    <p class="">
        <a href="/admin/home">
            <i class="fas fa-home"></i>
            Home
        </a>
    </p>
    <hr>
    <p class="text-primary">
        <a href="/admin/profile">
            <i class="fas fa-user"></i>
            Profile
        </a>
    </p>
    <hr>
    <p class="">
        <a href="/admin/customers">
            <i class="fas fa-users"></i>
            Students
        </a>
    </p>
    <hr>
    <p class="">
        <a href="/admin/books">
            <i class="fas fa-book"></i>
            Books
        </a>
    </p>


    <hr>
    <div style="color:rgb(66, 66, 247); font-size: 15px;">
        The central library is open from 9:00 AM to 5:00 PM.
    </div>
    <div style="color:rgb(66, 66, 247)">
        Contact: +91-92856xxxxx
    </div>
    <div>
       <span style="color: white">Reach us at:</span>  <br>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
    </div>

</div>
